/* === PALETA DE CORES === */
:root {
    --bg-pri-color: #101010;
    --bg-sec-color: #262626;
    --text-pri-color: #fff;
    --text-sec-color: #cfcfcf;
    --text-ter-color: #dfdfdf;
    --inver-img: invert(100%);
    --primary-color: #1a1a2e;
    --secondary-color: #21325e;
    --neon: #00fffd;
    --gradiente-pri-color: #00fffd;
    --gradiente-sec-color: #19bf00;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    --card-bg: #1e1e1e;
    --border-color: #444;
    --btn-shodow: #fff;
    --btn-bg-hover: #000;
    --sol-lua: white;
}

.light-mode {
    --bg-pri-color: #fff;
    --bg-sec-color: #efefef;
    --text-pri-color: #101010;
    --text-sec-color: #303030;
    --text-ter-color: #404040;
    --inver-img: invert(0%);
    --primary-color: #3620df;
    --secondary-color: #8c20ff;
    --neon: #1ddf00;
    --gradiente-pri-color: #21ff00;
    --gradiente-sec-color: #00fffd;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    --card-bg: #ffffff;
    --border-color: #e0e0e0;
    --btn-shodow: #bfbfbf;
    --btn-bg-hover: #fff;
    --sol-lua: orange;
}

/* === ESTILOS GERAIS === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

body {
    padding-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--bg-pri-color);
    color: var(--text-pri-color);
}