    :root {
        --btn-bg-hover: #8080806e;
        --btn-glow: white;
    }


    header.header {
        width: 100%;
        height: 70px;
        background: var(--bg-sec-color);
    }

    div.header__container {
        width: 100%;
        height: 100%;
        padding: 0 4%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    div.header__logo,
    nav.header__nav,
    ul.header__nav-list,
    div.header__actions {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

/* === LOGO ===  */
    a.header__logo--hidden-link > img{
        display: none;
        height: 60px;
        position: relative;
        top: 5px;
        left: 20px;
        filter: var(--inver-img);
    }

    div.header__logo {
        width: 20%;
    }

    a.header__logo-link>img {
        height: clamp(50px, 5vw, 65px);
        filter: var(--inver-img);
    }

/* === LINKS === */
    nav.header__nav {
        width: 40%;
    }

    ul.header__nav-list {
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }

    li.header__nav-item {
        width: 100%;
        height: 100%;
        list-style-type: none;
        display: inline-block;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li.header__nav-item>a {
        font-size: clamp(12px, 5vw, 20px);
        padding: clamp(5px, 2vw, 10px);
    }

    li.header__nav-item>a {
        color: var(--text-pri-color);
        text-decoration: none;
        font-size: 1.3rem;
        position: relative;
        padding-bottom: 5px;
        font-weight: bold;
    }

    li.header__nav-item>a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 8px;
        bottom: 0;
        left: 0;
        background-color: #6a5acd;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.7s cubic-bezier(0.86, 0, 0.07, 1);
        border-radius: 0 0 5px 5px;
    }

    li.header__nav-item>a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
        height: 8px;
        background: linear-gradient(to bottom, #6a5acd, #9370db);
        border-radius: 0 0 5px 5px;
    }

/* === REGISTRO ===  */
    div.header__actions {
        width: 40%;
        justify-content: end;
    }

    a.header__action--register {
        margin-right: 30px;
        font-size: clamp(12px, 5vw, 20px);
    }

    a.header__action--register {
        color: var(--text-pri-color);
        text-decoration: none;
        font-size: 1.2rem;
        padding: 10px 20px 10px 40px;
        border: 1px solid var(--text-pri-color);
        border-radius: 50px;
        display: inline-block;
        position: relative;
        transition: all 0.3s ease;
        overflow: hidden;
    }

    a.header__action--register::before {
        content: '🚀';
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease;
    }

    a.header__action--register::after {
        content: '';
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 2px;
        transition: all 0.3s ease;
    }

    a.header__action--register:hover {
        padding-right: 40px;
        padding-left: 20px;
        background: var(--text-pri-color);
        color: var(--bg-sec-color);
    }

    a.header__action--register:hover::before {
        left: calc(100% - 30px);
        transform: translateY(-50%) rotate(45deg);
    }

    a.header__action--register:hover::after {
        right: 15px;
        width: 15px;
    }

/* === MODO DARK === */
    button.header__action--dark-mode {
        background: transparent;
        border: none;
        cursor: pointer;
        color: var(--text-pri-color);
        width: 40px;
        height: 40px;
        padding: 0.6rem;
        border-radius: 50%;
        transition: transform 0.2s ease, box-shadow 0.3s ease;
        position: relative;
    }

    button.header__action--dark-mode:hover {
        transform: rotate(20deg) scale(1.1);
        box-shadow: 0 0 12px var(--btn-glow);
        background-color: var(--btn-bg-hover);
    }

    button.header__action--dark-mode i {
        font-size: 20px;
        color: var(--text-pri-color);
        transition: transform 0.4s ease, opacity 0.3s ease;
    }

/* === RESPONSIVO === */
@media (max-width: 1050px) {
    div.header__container {
        position: absolute;
        top: 70px;
        flex-direction: column;
        height: auto;
        padding: 20px 4%;
        gap: 20px; /* Espaço entre os elementos */
        align-items: flex-start; /* ou center, dependendo do visual desejado */
        background-color: var(--bg-pri-color);
        border-bottom: 2px solid var(--text-pri-color);
    }

    a.header__logo--hidden-link > img{
        display: block;
    }

    div.header__logo {
        display: none;
    }

    nav.header__nav {
        width: 100%;
        justify-content: center;
    }

    ul.header__nav-list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    div.header__actions {
        width: 100%;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }
}
